.git
.gitignore
.env
.env.backup
.env.production
.DS_Store
node_modules
vendor
storage
tests
phpunit.xml
README.md
.editorconfig
.env.example
.phpunit.result.cache
.phpactor.json
.vscode
.idea
.nova
.cursor
.zed
.codex
Homestead.json
Homestead.yaml
_ide_helper.php
docker-compose.yml
docker-compose.*.yml
